@font-face {
  font-family: 'Nunito';
  src: url('Nunito-Black.ttf');
  src: url('Nunito-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('Nunito-Bold.ttf');
  src: url('Nunito-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('Nunito-SemiBold.ttf');
  src: url('Nunito-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('Nunito-Regular.ttf');
  src: url('Nunito-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}