@import "../fonts/style.css";

html,
body {
  font-size: 15px;
}

* {
  font-weight: 400;
  font-family: "Manrope";
}

.h1 {
  font-weight: 700;
  font-size: 75px;
  line-height: 110%;
  @media (max-width: 540px) {
    font-size: 40px;
  }
}

.h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 110%;
  @media (max-width: 540px) {
    font-size: 30px;
  }
}

.h3 {
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  @media (max-width: 540px) {
    font-size: 24px;
  }
}

.h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  @media (max-width: 540px) {
    font-size: 16px;
  }
}

.numbers-l {
  font-weight: 700;
  font-size: 70px;
  line-height: 110%;
  @media (max-width: 540px) {
    font-size: 35px;
  }
}

.numbers-m {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  @media (max-width: 540px) {
    font-size: 25px;
    line-height: 35px;
  }
}

.numbers-s {
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  @media (max-width: 540px) {
    font-size: 22px;
    line-height: 30px;
  }
}

.text-l {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  @media (max-width: 540px) {
    font-size: 25px;
    line-height: 34px;
  }
}