@import "reset";
@import 'fonts';
@import "variables";

* {
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
  margin: 0px;
  padding: 0px;
  min-height: 0;
  min-width: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 20px;
}

.space-container {
  padding: 0 120px;
  height: 100%;
  @media #{$lg} {
    padding: 0 40px;
  }
  @media #{$sm} {
    padding: 0 20px;
  }
}
