// MOBILE SCREENS
$xl: "screen and (max-width: 1440px)";
$lg: "screen and (max-width: 1024px)";
$sm: "screen and (max-width: 640px)";
$xs: "screen and (max-width: 360px)";

// COLORS
$champagne: #F7ECE1;
$dark-blue: #2A364D;
$cool-gray: #9DA3AF;
$ghost-white: #F8F8F9;
$gray-white: #E9EBEC;
$light-gray: #A9B0C0;
$lime-green: #7FCC4E;
$white: #FFFFFF;
$pumpkin: #FF7529;
$whisper: #F7F6F9;
